<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <h1><%= artist.name %> </h1><br />
  <%=image_tag artist.image_path %>
  <%= link_to "Edit", edit_artist_path(artist) %>
<% end %>

<h3>
  <%= link_to "New artist", new_artist_path %>
</h3>
